
    <div class="col-md-6">
      <h2>
        <a ng-show="post.title" href="#/posts/{{post.id}}">{{post.title}}</a>
      </h2>          
      
      <p class="blog-post-meta">
        {{post.created_at}} 
        posted by <a ng-href="#/users/{{post.user.username}}">{{post.user.email}}</a>
      </p>  
      
      <p ng-show="post.body" ng-bind-html="trustAsHtml(post.body)">
        {{trustAsHtml(post.body)}}
      </p>

      <div class="row">
        <div class="col-md-10"></div>
        <button href ng-click="showComments = !showComments">
          <span class="glyphicon glyphicon-comment"></span>
          <span class="badge" id="comment_count" ng-show="comments_count">{{comments_count}}</span>
        </button>
      </div>
      <div ng-show='showComments'>
        <div ng-repeat="comment in post.comments">
          <div id="comments" class="comments">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>{{comment.user.email}}</h4>
                <div style="color: #999;">{{comment.created_at}}</div>
              </div>
      
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  {{comment.body}}
                </div>
              </div>
            </div>
          </div>        
        </div>
        
        <bgf-pagination url='comments_url' collection='post.comments' ></bgf-pagination>
        

              
        <div id="notice" class="alert alert-success fade in" style="visibility: hidden;">
          {{alert}}
        </div>
        
        <div id="create-comment" class="comment-create">
          <form ng-submit="addComment()" style="margin-top:30px;">
            <h3>Add a new comment</h3>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
            </div>
            <button type="submit" class="btn btn-primary">Comment</button>
          </form>
        </div>
      </div>
      <div style="margin-bottom: 40px;" ng-hide="showComments"></div>
    </div>
<div class="col-md-4 col-md-push-2">
    <div class="well">
      <h3>Rubrics:</h3>
      <div class="widget">
        <ul class='list-unstyled'>
          <div ng-repeat="rubric in rubrics">
            <h5><a style="margin-left: 40px" ng-href="#/rubrics/{{rubric.id}}">{{rubric.name}}</a></h5>
          </div>
    
        </ul>
      </div>
      <hr>
      <h3><a  href="#/home">Back to Blog Home</a></h3>

    </div>
  </div>
