<div id="success" class="alert alert-success"  ng-show='alert'>
      <button type="button" class="close" data-dismiss="alert">x</button>
       {{alert}}
    </div>

    <div ng-include="'auth/_errors.html'"></div>

 
<form ng-submit="addPost()">
      <h3>Add a new post</h3>
      <label>Title:</label>
      <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
      <div class="form-group">
        <label ng-repeat="rubric in rubrics">
          <input type="checkbox" checklist-model="rubric_ids" checklist-value="rubric.id"> {{rubric.name}}</input>
        </label>
        <textarea class="form-control" rows="5" ng-model="body"></textarea>
      </div>
        {{user.email}} 
          <button type="submit" class="btn btn-primary">Post</button>
    </form>